h2 Gateways
hr
table(style='width:100%')
  tr
    th ID
    th Gateway Name
    th Gateway Type
    th location
    th Created On
  
  each value in details
    tr
      th
        a(href='/users/device/end_nodes/#{value.id}') #{value.id}
      th #{value.metadata.name}
      th #{value.metadata.type}
      th #{value.location}
      th #{value.create_date}
